<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/calculator-result">
        <input type="number" name="value_a" placeholder="Прв број..." required>
        <select name="operation" class="form-control">
            <option selected="selected" value="plus">+</option>
            <option value="minus">-</option>
            <option value="mnozhenje">*</option>
            <option value="delenje">/</option>
        </select>
        <input type="number" name="value_b" placeholder="Втор број..." required>
        <button onClick="this.form.submit()" type="submit">Пресметај!</button>
    </form>
    
</body>
</html>